<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header.html :: head"></head>


<body class="skin-orange">
<!-- HEADER -->
<header class="primary" >
	<div th:replace="fragments/header.html :: firstbar"></div>
	<nav th:replace="fragments/header.html :: nav"></nav>
</header>

<!--<header class="primary" th:replace="fragments/header.html :: header"></header>-->
<!-- /HEADER -->

<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ol class="breadcrumb">
                    <li><a href="index.html" th:href="@{/}">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
                <h1 class="page-title">About Us</h1>
                <p class="page-subtitle">We will tell you who we are</p>
                <div class="line thin"></div>
                <div class="page-description">
                    <h4 class="breadcrumb page-title"> Hello.</h4>
                    <p>
                        We present to your attention version 1.0 of the news portal project.
                        This project is the result of a team development of 4+ people.
                        We are a novice backend development team and therefore we have not fully
                        implemented the interesting elements of the frontend.
                        Much of what we planned we did not have time to implement. The main
                        functionality is implemented and presented to you for consideration.
                        <p>
                            The project implemented:<br>
                            1. View of news.<br>
                            2. Search news.<br>
                            3. Working with the user (log in, register, change the user).<br>
                            4. Rich Text Editor for working with news(create, edit, delete).<br>
                            5. Viewing user statistics.<br>
                            6. Like news, comments.<br>
                            7. Write a comment or reply to a comment.<br>
                        </p>

                    </p>
                    <div class="question">
                        Have a question? <a href="#" class="btn btn-primary"  type="submit">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

	<!-- FOOTER -->
	<footer th:replace="fragments/footer.html :: footer"></footer>
	<!-- /FOOTER -->

	<!-- JS -->
	<script th:remove="tag" th:replace="fragments/scripts.html :: scripts"> </script>

	</body>
</html>